form{
    margin: 100px 650px;
    border: 1px ;
    border-style:dotted;
    border-color: #ffffff;
    text-align: left;
    padding-bottom:30px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 30;
    padding-right: 60px;
    padding-left: 10px ;
    color:#ffffff;
}
body{
    background-color: black;
}
h1{
    color: #ffffff;
    font-weight: 200px;
}
